@import 'tailwindcss';

@theme {
  --color-gray: #8e8e8e;
  --color-navy: #1c355e;
  --color-teal: #307582;
  --color-maroon: #d50037;
}

.flex-col-4 {
  @apply flex flex-col gap-4;
}

.form-error-text {
  @apply text-red-500 text-sm italic;
}

:root {
  color: #222222;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
}

body {
  font-family: 'Gilroy', sans-serif;
}
